
<% content_for :extra_css do %>
<style type="text/css">
	body{
	 background-image: url('/assets/background.png');
	}
</style>
<% end %>

 
<h1 class="text-center">School Pocket </h1>
<h3  class="text-center">Web App to manage your grades </h3>
 

<div class='row'> 
	<div class="col-md-4"></div>
	<div class="col-md-4 well shadow-z-4">
	<%= form_for(:session, url:login_path) do |f| %>
		<%= f.label :email %>
		<%= f.email_field  :email, class: 'form-control' %>
		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>
		<%= f.submit "Log in", class: "btn btn-primary pull-right" %>
	<% end %>
	</div>
	<div class="col-md-4"></div>

</div>