
<div class="page-header">
   <h1>   <i class="material-icons md-48 vertical-align-middle padding-bottom-3">person</i>  Profile
   </h1>
</div>

<div class="row">

   <div class="col-md-4"></div>

   <div class="col-md-4">
      <div class="panel panel-primary text-center shadow-z-4">
        <div class="panel-heading">Username</div>
           <div class="panel-body"> <%= current_user.username %></div>
      </div>

      <div class="panel panel-primary text-center shadow-z-4">
        <div class="panel-heading">E-mail</div>
           <div class="panel-body">  <%= current_user.email %> </div>
      </div>

   </div>

   <div class="col-md-4"></div>
</div> <!-- /rows -->


<div class="page-header">
   <h1>   <i class="material-icons md-48 vertical-align-middle padding-bottom-3">person</i>  Info
   </h1>
</div>
<div class="row">
	<div class="col-md-4">
    <div class="well">
      <h1># Grades  <span class="label label-primary pull-right"><%=  @grades %></span>   <h1>
    </div>
 </div>
 <div class="col-md-4">
   <div class="well">
     <h1># Subjects  <span class="label label-primary pull-right"><%= @subjects %></span>   <h1>
   </div>
</div>
<div class="col-md-4">
  <div class="well">
    <h1># Homeworks  <span class="label label-primary pull-right"><%= @homeworks %></span>   <h1>
  </div>
</div>
</div>
