
<div class="row">

<div class="page-header">
   <h1>  Subjects
     <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#new_subject">
       New subject
     </button>
   </h1>
</div>


   <div class="col-md-4">


   </div>

   <div class="col-md-4">
    <% if @subjects.any? %>

        <% @subjects.each do |subject|  %>

           <div class="well well-sm">
            <h2 class="text-center text-info"> <%= subject.name %> </h2>
            <br />
                <%= link_to edit_subject_path(subject), class:'btn btn-primary' do %>
                    Edit
                <% end %>
                <%= link_to subject , method: :delete, class:'btn btn-primary pull-right',  data: { confirm: "Are you sure?" } do %>
                  Remove
                <% end %>    
          </div>
      <% end %>
    <% else %>
    <h3>No Subjects</h3>
    <% end %>

   </div>
   <!-- well-lg panel panel-default shadow-z-4 -->



   <div class="col-md-4"></div>
</div> <!-- /rows -->


<!-- Modal -->
<div class="modal fade" id="new_subject" tabindex="-1" role="dialog" aria-labelledby="new_subject_label">
  <div class="modal-dialog " role="document">
    <div class="modal-content well">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new_subject_label">Add new Subject</h4>
      </div>
      <div class="modal-body">
        <%= form_for @subject do |f| %>
      		<%= render 'field_form', f:f, submit_string:"Add Subject" %>
      	<% end %>
        <br />
      </div>

    </div>
  </div>
</div>
